@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@300&family=Raleway:wght@300;400;500;600&family=Ubuntu&display=swap');

:root{
    --blue-border: #459DF5;
    --red-border: #F53152;
    --color-placeholder: #BAD8F5;
    --black: black;
}

body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30rem;
    border: 0.1rem solid red;
}

.input{
    font-size: 0.8125rem;
    margin-bottom: 2rem;
}

.input__enter{
    box-sizing: border-box;
    width: 16rem;
    height: 2rem;
    border: 0;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8125rem;
}

.input__area{
    position: relative;
}

.input__enter::placeholder{
    color: var(--color-placeholder);
}

.input__text{
    margin-bottom: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 16rem;
    height: 1rem;
    line-height: 1rem;
}

.input_normal .input__enter{
    border: 1px solid var(--blue-border);
}


.input_error .input__enter{
    border: 1px solid var(--red-border);
}

.input_error .x-large{
    position: absolute;
    width: 1rem;
    height: 1rem;
    stroke: var(--color-placeholder);
    right: 0.5rem;
    cursor: pointer;
}

.input_blocked .input__enter{
    border: 1px solid var(--blue-border);
    background-color: var(--color-placeholder);
}
/*-------------------------*/


.input_blocked .blocked{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;

    outline: none;
    background: transparent;
    border: 0;
}

.blocked .input__icon_blocked{
  height: 1rem;
  width: 1rem;
}

