@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@300&family=Raleway:wght@300;400;500;600&family=Ubuntu&display=swap');

:root{
    --color-blue: #459DF5;
    --color-red: #F53152;
    --color-light-blue: #BAD8F5;
    --black: #000000;
    --white: #FFFF;
}

body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30rem;
    border: 1px dashed #7758d3;;
}

.input{
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.input__label{
    width: 16rem;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.input__area{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 16rem;
    height: 2rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
    background-color: var(--white);
}

.input__text{
    box-sizing: border-box;
    width: 15.25rem;
    height: 1rem;
    border: 0;
    margin: 0;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    color: var(--black);
}

.input__text::placeholder{
    color: var(--color-light-blue);
}

.input__text:focus{
    outline: none;
}

.input_incorrect .input__area{
    border: 1px solid var(--color-red);
}

.input_incorrect .input__text{
    width: 13.5rem;
}

.button-action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    padding: 0;
    border: 0;
    background: transparent;
}

.button-action__icon{
    height: 1rem;
    width: 1rem;
}

.button-action__icon_incorrect{
    stroke: var(--color-light-blue);
}

.input_disabled .input__area{
    background-color: var(--color-light-blue);
}

.input_disabled .input__text{
    width: 13.5rem;
    background-color: var(--color-light-blue);
}

.button-action__icon_disabled{
    fill: var(--black);
}


.searchbars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    border: 1px dashed #7758d3;
}

.searchbar{
    font-family: "Ubuntu";
    font-size: 0.8125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.searchbar__area{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 16rem;
    height: 2rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
    background-color: var(--white);
}

.searchbar__icon{
    stroke: var(--color-blue);
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
}

.search__text{
    box-sizing: border-box;
    width: 13.75rem;
    height: 1rem;
    padding: 0;
    border: 0;
    color: var(--black);
}

.search__text::placeholder{
    color: var(--color-light-blue);
}

.search__text:focus{
    outline: none;
}

.searchbar_full .search__text{
    width: 11.75rem;
    margin-right: 0.5rem;
}

.search__button_close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: 0;
    padding: 0;
}

.button__icon{
    stroke: var(--color-blue);
    width: 1rem;
    height: 1rem;
}


.checkbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px dashed #7758d3;
    margin: 2rem;
}

.checkbox{
    position: relative;
}

.checkbox__area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__input{
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border: 1px solid var(--color-light-blue);
    border-radius: 2px;
    box-sizing: border-box;
}

.checkbox__input:active{
    background-color: var(--color-light-blue);
}

.checkbox__input:checked{
    background-color: var(--color-blue);
    border-color: var(--color-blue);
}

.checkbox__input:checked + .checkbox__icon{
    opacity: 1;
}

.checkbox__icon{
    position: absolute;
    opacity: 0;
    fill: var(--white);
    width: 1rem;
    height: 1rem;
    transition: opacity 0.25s ease-in;
}

.radio-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px dashed #7758d3;
    margin: 2rem;
}

.radio{
    position: relative;
}

.radio__area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio__input{
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border: 1px solid var(--color-light-blue);
    border-radius: 50%;
    
}

.radio__icon{
    position: absolute;
    width: 1rem;
    height: 1rem;
    transition: opacity 0.25s ease-in;
    opacity: 0;
    fill: var(--white);
}

.radio__input:active{
    background-color: var(--color-light-blue);
}

.radio__input:checked + .radio__icon{
    opacity: 1;
}

.radio__input:checked{
    background-color: var(--color-blue);
    border-color: var(--color-blue);
}

/*--Dropdowns--*/

.dropdowns{
    position: relative;
    height: 22rem;
    width: 42rem;
    border: 1px dashed #7758d3;
    padding: 4rem;
}

.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 
                0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 
                0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.button{
    position: relative;
    display: flex;
    align-items: center;
    width: 10rem;
    height: 2rem;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    text-align: left;
    padding: 0;
    margin: 0;
}

.button__text{
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0.5rem auto 0.5rem 1rem;
    color: var(--black);
}

.button_active .button__text{
    color: var(--color-blue);
}

.dropdown__checkbox{
    position: absolute;
    left: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 
                0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 
                0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.dropdown__checkbox .button__text{
    margin: 0;
}

.dropdown__checkbox .checkbox__input{
    margin: 0;
}

.dropdown__checkbox .checkbox__area{
    margin: 0 0.5rem 0 1rem;
}

.go-to-page{
    position: absolute;
    top: 18rem;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 
                0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 
                0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.go-to-page__area{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 8rem;
    padding: 1rem;
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
}

.go-to-page__label{
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.input__number{
    box-sizing: border-box;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
}

.input__number::placeholder{
    color: var(--color-light-blue);
}

.input__number:focus{
    outline: none;
}


.action-delete{
    position: absolute;
    top: 18rem;
    left: 18rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 
                0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 
                0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.action-delete__area{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
}

.action-delete__label{
    text-align: start;
    margin: 0;
}

.action-delete__area button{
    width: 8rem;
    border: none;
    box-sizing: border-box;
}

.delete{
    color: var(--color-blue);
    box-sizing: border-box;
    height: 1.5rem;
    background-color: transparent;
    margin: 0.75rem 0 0.75rem 0;
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
}

.cancel{
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 1.5rem;
    color: var(--white);
    background-color: var(--color-blue);
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
}

.choose-chem{
    position: absolute;
    left: 32rem;
    top: 18rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 
                0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 
                0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.choose-chem__area{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
}

.choose-chem__label{
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: start;
}

.choose-chem__area button{
    width: 8rem;
    height: 2rem;
    border: none;
}

.light__version{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.sun__icon{
    margin-left: 1.5rem;
    width: 1rem;
    height: 1rem;
    fill: var(--color-blue);
}

.light__version .button__text{
    margin-left: 0.25rem;
    color: var(--color-blue);
}

.dark__version{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    background-color: var(--color-blue);
    border-radius: 0.5rem;
}

.moon__icon{
    margin-left: 1.5rem;
    width: 1rem;
    height: 1rem;
    fill: var(--white);
}

.dark__version .button__text{
    margin-left: 0.25rem;
    color: var(--white);
}

/*---Button----*/

.buttons{
    width: 50rem;
    margin-top: 3rem;
    border: 1px dashed #7758d3;;
}

.up-block{
    display: flex;
}

.button__group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin: 3rem;
}

.button-click{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0.25rem;
}

.button-click_big{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 7rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
}


.button-click_medium{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 5.5rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
}

.button-click_small{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
}

.random_icon{
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.text__area{
    width: 3.5rem;
    margin-right: 1rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: var(--white);
}

.button-click_medium .text__area{
    margin: 0;
}

.button-click_small .random_icon{
    margin: 0;
}

.button-click_blue{
    background-color: var(--color-blue);
}

.button-click_transparent_blue{
    background-color: transparent;
}

.button-click_transparent_blue .text__area{
    color: var(--color-blue);
}

.button-click_transparent_blue .random_icon{
    
}

.button-click_transparent_black{
    background-color: transparent;
}

.button-click_transparent_black .text__area{
    color: var(--color-bla);
}

.button-click_transparent_black .random_icon{
    
}


.down-block{
    display: flex;
}

.button-click-nopadding_big{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 5.75rem;
    height: 1.5rem;
    border: 0;
    border-radius: 0.25rem;
}


.button-click-nopadding_medium{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 4.5rem;
    height: 1.5rem;
    border: 0;
    border-radius: 0.25rem;
}

.button-click-nopadding_small{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    border-radius: 0.25rem;
}

.button-click-nopadding .text__area{
    margin: 0;
}

.button-click-nopadding .random_icon{
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.button-click-nopadding_small .random_icon{
    margin: 0.25rem;
}

.button-click-nopadding_blue{
    background-color: var(--color-blue);
}

.button-click-nopadding_transparent_blue{
    background-color: transparent;
}

.button-click-nopadding_transparent_blue .text__area{
    color: var(--color-blue);
}

.button-click-nopadding_transparent_blue .random_icon{
    
}

/*---PageHeader----*/

.pageheader{
    width: 50rem;
    margin-top: 3rem;
    border: 1px dashed #7758d3;;
}

.showswitcher{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 43.125rem;
    height: 2rem;
    margin: 3rem;
}

.showswitcher .text__area{
    width: 12.375rem;
    height: 2rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--black);
}


.showswitcher .light__version{
    box-sizing: border-box;
    width: 8.75rem;
    height: 2rem;
}

.showswitcher .sun__icon{
    width: 1rem;
    height: 1rem;
    margin-left: 0;
    fill: var(--color-blue);
}

.showswitcher .light__version .button__text{
    width: 5.25rem;
    height: 1rem;
    margin-left: 0.5rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: var(--color-blue);
}

.showswitcher_yes{
    position: relative;
}

.showswitcher_yes .choose-chem{
    top: 2rem;
}




